h1 {
    color: blue;
}
h2 {
    color: violet;
}
h3{
    color: yellow;
}
h4 {
    color: rgb(70, 76, 168);
}
h5 { color: firebrick;

}
}
table {
    box-shadow: 2px 2px 15px 5px;
}