body {
    background-color: gray; /* Фон */
}
img {                 /* Размеры картинки */
width: 200px;
height: 200px; 
}
p{
   color: rgb(70, 70, 70); /* Цвет */
   font-size: 35px;
}
h1{
   font-style: initial; 
   font-weight: 400;   /* Шрифт */
}
h2{
    font-style: italic;
}
h3{
    font-style: italic;
}
h4{
    font-style: italic;
}